[submodule "crypto/openssl"]
	path = crypto/openssl
	url = https://github.com/blackbooksystems/openssl.git
[submodule "crypto/libntru"]
	path = crypto/libntru
	url = https://github.com/blackbooksystems/libntru.git
[submodule "docker/cloud9"]
	path = docker/cloud9
	url = https://github.com/blackbooksystems/cloud9-docker.git
[submodule "docker/ethercalc"]
	path = docker/ethercalc
	url = https://github.com/blackbooksystems/ethercalc.git
[submodule "docker/proxy"]
	path = docker/proxy
	url = https://github.com/blackbooksystems/nginx-proxy.git
[submodule "docker/etherpad"]
	path = docker/etherpad
	url = https://github.com/blackbooksystems/etherpad-docker.git
[submodule "docker/lychee"]
	path = docker/lychee
	url = https://github.com/blackbooksystems/lychee-docker.git
[submodule "docker/ghost"]
	path = docker/ghost
	url = https://github.com/blackbooksystems/ghost.git
[submodule "docker/mediadrop"]
	path = docker/mediadrop
	url = https://github.com/blackbooksystems/mediadrop-dockerfile.git
