[submodule "libntru"]
        path = crypto/libntru
        url = https://github.com/blackbooksystems/libntru.git
[submodule "openssl"]
        path = crypto/openssl
        url = https://github.com/blackbooksystems/openssl.git
